:root
{
    color-scheme: dark;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}

nav
{
    background-color: none;
}

.watchfast
{
    margin-left: 15px;
}

.nav-bar-option
{
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.pfp
{
    margin-left: 50px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.movie-icon
{
    border-radius: 10px;
}


.movie 
{
    float: left;
    width: 100px;
    padding: 5px;
}

.movies::after
{
    content: "";
    clear: both;
    display: table;
}

.movie-link
{
    text-decoration: none;
    color: rgb(109, 109, 226);
}

.movie-video
{
    width: 100%;
    height: 500px;
}

.bottom-marks
{
    margin-top: 550px;
}